// Final Reporting
// ===============




// Report
// ------
/// Report results summary to CSS
/// and (optionally) the command line
/// @access public
/// @group api-xreport
/// @param {bool} $terminal [$true-terminal-output] -
///   Optionally output results to the terminal
/// @param {bool} $fail-on-error [false] -
///   Optionally error out the compiler if tests have failed
/// @param {map} $results [$_true-results] -
///   A map of run, pass, fail, and output-to-css results
/// @param {map} $stats [$_true-stats] -
///   A map of module, test, and assertion statistics
/// @example scss
///   $true-terminal-output: false;
///   @include report;
report($terminal = $true-terminal-output.value, $fail-on-error = false, $results = $_true-results.value, $stats = $_true-stats.value)
  $fail = $results.fail
  $run = $results.run
  $pass = $results.pass
  $fail = $results.fail
  $output = $results.output-to-css
  $total = $pass + $fail + $output
  $tests = $stats.tests
  $comment = _true-report-message("linebreak", $results, $stats)

  _true-message($comment, "comments")

  if $terminal
    $debug = _true-report-message(not "linebreak", $results, $stats)
    _true-message($debug, "debug")

  if $run != $tests or $run != $total
    $error = "The results don’t add up. Are all your tests properly structured?"
    _true-error-mixin($error, "report")

  if $fail-on-error and $fail > 0
    $plural = $fail == 1 ? "test" : "tests"
    _true-error-mixin("%s %s failed", "report") % $fail $plural





// Report Message
// --------------
/// Report results summary to CSS
/// and (optionally) the command line
/// @access private
/// @group private-message
/// @param {bool} $linebreak [false] -
///   Return single-line messages for results/stats,
///   or optionally break into multi-line lists.
/// @param {map} $results [$_true-results] -
///   A map of run, pass, fail, and output-to-css results
/// @param {map} $stats [$_true-stats] -
///   A map of module, test, and assertion-counts in your project
_true-report-message($linebreak = false, $results = $_true-results.value, $stats = $_true-stats.value)
  if $linebreak
    $a = _true-results-message("linebreak", $results)
    $b = _true-stats-message("linebreak", $stats),
    p('a: ' + $a)
    p('b: ' + $b)
    $test = _true-join-multiple(
      "# SUMMARY ----------",
      $a,
      $b,
      "--------------------"
    )

    p($test)

    return $test

  $report = _true-results-message(null, $results), _true-stats-message(null, $stats)

  return $report
