// Stats Tracking & Reporting
// ==========================




// Stats Count
// -----------
/// Global stats count of how many modules, tests, and assertions are found
/// @access private
/// @group private-context
/// @type Map<String: Number>
$_true-stats = {
  value: { "modules": 0, "tests": 0, "assertions": 0 }
}




// Update stats count
// ------------------

/// Add to a stats count type count by 1
/// @param {String} $type - The stats type to add to
/// @access private
/// @group private-context
_true-update-stats-count($type)
  $update = {}
  $update[$type] = 1
  $_true-stats.value = _true-map-increment($_true-stats.value, $update)




// Stats Message
// -------------
/// Stats message
/// @access private
/// @group private-message
/// @param {Bool} $linebreak [false] -
///   Return message either as a single line or in multiple lines
/// @param {Map} $stats [$_true-stats] -
///   Map that contains the stats counts for modules, tests, and assertions found
/// @return {String} - Stats count message
_true-stats-message($linebreak = true, $stats = $_true-stats.value)
  $modules = $stats.modules
  $tests = $stats.tests
  $assertions = $stats.assertions

  // Pluralize Labels
  $modules-label = $modules == 1 ? "Module" : "Modules"
  $tests-label = $tests == 1 ? "Test" : "Tests"
  $assertions-label = $assertions == 1 ? "Assertion" : "Assertions"

  // Combine Results with Labels
  $modules = "%s %s" % $modules $modules-label
  $tests = "%s %s" % $tests $tests-label
  $assertions = "%s %s" % $assertions $assertions-label

  // Linebreaks
  if $linebreak
    $message = "Stats:", "- %s" % $modules, "- %s" % $tests, "- %s" % $assertions
    p($message)
    return $message

  // No Linebreaks
  $message = "%s, %s, %s" % $modules $tests $assertions
  return $message
