// Module Tests
// ============

// TODO: uncomment when figured out how to deal with the inside out stylus rendering order
// +test-module('Tests') {
//   +test('test [mixin]') {
//     assert-equal(
//       _true-context-mixin('test'),
//       'test [mixin]',
//       'Changes the current test context'
//     );
//   }
// }
