@import 'sass/_true.styl'

+describe('is-px()')
  +it('should not return true for a px value')
    assert-true(true)
    assert-true('true')
    assert-true(false)
    assert-true('tsrue')
  +it('should return true for a px value')
    assert-true('aaaa')
    assert-true('ddddd')
    assert-true('cccc')
    assert-true('bbbb')
