@import 'sass/_true.styl';

+describe('is-px()2') {
  +it('sixth it') {
    assert-true(true);
    assert-true(true);
    assert-unequal(true, true);
    assert-true(false);
  }

  +it('sixth itaaaaaaaaaaa') {
    assert-true(true);
    assert-true(true);
    assert-true(true);
    assert-true(true);
  }

  +it('sixth itsssssssss') {
    assert-true(true);
    assert-true(true);
    assert-true(true);
    assert-true(false);
  }

  +it('sixth itddddddddddd') {
    assert-true(true);
    assert-true(true);
    assert-true(true);
    assert-true(true);
  }

  +it('sixth itdasdas') {
    assert-true(true);
    assert-true(true);
    assert-true(true);
    assert-true(true);
  }

  +it('fifth itdasadsda') {
    assert-true(true);
    assert-true(true);
    assert-true(true);
    assert-true(true);
  }

  +it('aaaaaaaaaaaaaaaaaaaa') {
    +assert() {
      +output() {
        .body {
          color: blue;
        }
      }

      +expect() {
        .body {
          color: red;
        }
      }
    }

    assert-true(true);
    assert-true(true);
    assert-true(true);
    assert-true(true);
  }

  +it('fifth lllllllllllllllllllllllllllll') {
    assert-true(true);
    assert-true(false);
    assert-true(true);
    assert-true(true);
  }
}

+describe('is-px()3') {
  +it('seventh it') {
    assert-true(true);
    assert-true(true);
    assert-true(true);
    assert-true(true);
  }

  +it('eight it') {
    assert-true(true);
    assert-true(true);
    assert-true(true);
    assert-true(true);
  }
}

// report();