// Module Tests
// ============

// TODO: Uncomment when figured out the issue with the stylus compiler ordering

// +test-module('test-module [mixin]') {
//   +test('Changes the current module context') {
//     assert-equal(_true-context('module'), 'test-module [mixin]');
//   }
// }

// +describe('Describe/it syntax') {
//   +it('Changes the current module context') {
//     assert-equal(_true-context('module'), 'Describe/it syntax');
//   }
// }
