// Module Tests
// ============

+test-module('test-module [mixin]') {
  +test('Outputs module boundaries') {
    +assert('module start and stop comments') {
      +output() {
        _true-module-start('Helper Module');
        _true-module-stop();
      }

      contains-string('# Module: Helper Module');
      contains-string('END_MODULE');
    }
  }
}

+describe('Describe/it syntax') {
  +it('Outputs describe module boundaries') {
    +assert('describe start and stop comments') {
      +output() {
        _true-module-start('Describe Helper');
        _true-module-stop();
      }

      contains-string('# Module: Describe Helper');
      contains-string('END_MODULE');
    }
  }
}
