// Module Tests
// ============

+test-module('Tests') {
  +test('test [mixin]') {
    +assert('test start and stop comments') {
      +output() {
        _true-test-start('test [mixin]');
        _true-test-stop();
      }

      contains-string("Test: 'test [mixin]'");
    }
  }
}
