// $true-terminal-output = { value }
// 
// **[public]** While Mocha always reports to the terminal, this setting allows you to get terminal reports even when compiling True manually with Stylus.
// 
// Weight: -10
// 
// $value = false - **{boolean}** ***Enable or disables terminal report while compiling to css***
// 
// Styleguide Variables.$_true-stats
$true-terminal-output = {
  value: false
};
