// $_true-stats = { value }
// 
// **[private]** Value key stores the desired value
// 
// Weight: 0
// 
// $value = { 'modules': 0, 'tests': 0, 'assertions': 0 } - **{hash}** ***Global stats count of how many modules, tests, and assertions are found***
// 
// Styleguide Variables.$_true-stats
$_true-stats = {
  value: { 'modules': 0, 'tests': 0, 'assertions': 0 }
}

// _true-update-stats-count($type)
// 
// **[private:{void}]** Add to a stats count type count by 1
// 
// Weight: 0
// 
// $type - **{string}** ***The stats type to add to***
// 
// Styleguide Functions._true-update-stats-count
_true-update-stats-count($type) {
  $update = {};
  $update[$type] = 1;
  $_true-stats.value = _true-map-increment($_true-stats.value, $update);
}

// _true-stats-message($linebreak, $stats)
// 
// **[private:{string}]** Stats message
// 
// Weight: 0
// 
// $linebreak = false - **{boolean}** ***Return message either as a single line or in multiple lines***
// $stats = $_true-stats.value - **{hash}** ***Map that contains the stats counts for modules, tests, and assertions found***
//
// Styleguide Functions._true-stats-message
_true-stats-message($linebreak = true, $stats = $_true-stats.value) {
  $modules = $stats.modules;
  $tests = $stats.tests;
  $assertions = $stats.assertions;

  // Pluralize Labels
  $modules-label = $modules == 1 ? 'Module' : 'Modules';
  $tests-label = $tests == 1 ? 'Test' : 'Tests';
  $assertions-label = $assertions == 1 ? 'Assertion' : 'Assertions';

  // Combine Results with Labels
  $modules = '%s %s' % ($modules unquote($modules-label));
  $tests = '%s %s' % ($tests unquote($tests-label));
  $assertions = '%s %s' % ($assertions unquote($assertions-label));

  // Linebreaks
  if ($linebreak) {
    $message = '\nStats:', '\n- %s' % $modules, '\n- %s' % $tests, '\n- %s' % $assertions;

    return $message;
  }

  // No Linebreaks
  $message = '%s, ' % $modules;
  $message = $message + '%s, ' % $tests;
  $message = $message + '%s' % $assertions;
  
  return $message;
}
